aioboto3>=13.2.0
aiohttp>=3.10.10
aiopg>=1.4.0
apache-airflow-providers-amazon
alembic>=1.13.3
asyncpg>=0.30.0
flask>=2.2.1
playwright>=1.48.0
pydantic-settings>=2.6.0
python-telegram-bot>=21.6
requests>=2.32.3
sqlalchemy>=1.4.53
structlog>=24.4.0
